<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>Administracja</title>
    <style>
        html{
            font-size: 18px;
        }
    </style>
</head>
<body>
<header class="container-fluid" style="padding: 0;">
    <nav class="navbar navbar-expand-md navbar-light bg-light py-3">
        <div class="container-md">
            <a class="navbar-brand fw-bold" th:href="@{/admin}">Administracja</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 mx-3">
                    <li class="nav-item dropdown me-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Placówki
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" th:href="@{/admin/clinic}">Lista placówek</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/clinic-category}">Lista kategorii
                                placówek</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/clinic-category/add}">Dodaj kategorię
                                placówki</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/clinic/add}">Dodaj placówkę</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Użytkownicy</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" th:href="@{/admin/user}">Lista użytkowników</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/user/add}">Dodaj użytkownika</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Moje konto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/admin/account}">Moje dane</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/email}">Wyślij emial</a></li>
                            <li><a class="dropdown-item" href="#">Wiadomości</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <a class="btn btn-outline-danger" th:href="@{/logout}" role="button">Wyloguj</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container min-vh-100">
    <div class="container mt-4">
    <form class="row g-3" th:action="@{/admin/clinic}" th:method="get">
        <div class="col-lg-4">
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-search"></i></div>
                <label for="inputCity" class="form-label visually-hidden">Wyszukaj</label>
                <input type="text" class="form-control" id="inputCity" th:name="value">
            </div>
        </div>
        <div class="col-lg-3">
            <label for="inputState" class="form-label visually-hidden">State</label>
            <select id="inputState" class="form-select" th:name="sort">
                <option selected disabled>Sortowanie po</option>
                <option th:value="name">nazwa</option>
                <option th:value="city">miasto</option>
                <option th:value="province">województwo</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label for="inputState2" class="form-label visually-hidden">State</label>
            <select id="inputState2" class="form-select" th:name="direction">
                <option selected disabled>Sortuj</option>
                <option th:value="asc">rosnąco</option>
                <option th:value="desc">malejąco</option>
            </select>
        </div>
        <div class="col-lg-2 text-center">
            <button type="submit" class="btn btn-info">Wyszukaj</button>
        </div>
    </form>
    </div>
    <div class="container my-4 border border-3 rounded 2 px-2 border-secondary">
        <h3 class="h2 text-center my-3">Lista placówek</h3>
        <div class="container border border-2 rounded-2 my-3 lh-lg" th:each="clinic:${clinicList}">
            <div class="row h-100">
                <div class="col-lg-2 border border-1 text-center fw-bold">Nazwa:</div>
                <div class="col-lg-10 border border-1 text-center" th:text="${clinic.name}"></div>
            </div>
            <div class="row ">
                <div class="col-lg-2 border border-1 text-center fw-bold">Województwo:</div>
                <div class="col-lg-4 border border-1 text-center" th:text="${clinic.province}"></div>
                <div class="col-lg-2 border border-1 text-center fw-bold">Miasto:</div>
                <div class="col-lg-4 border border-1 text-center" th:text="${clinic.city}"></div>
            </div>
            <div class="row ">
                <div class="col-lg-2 border border-1 text-center fw-bold">Kategoria:</div>
                <div class="col-lg-6 border border-1 text-center" th:text="${clinic.clinicCategory.name}"></div>
                <div class="col-lg-4 border border-1 text-center d-flex justify-content-around">
                    <a class="btn btn-primary btn-sm  px-3 py-0 m-1" style="min-width: 85px"
                       th:href="@{/admin/clinic/{id} (id = ${clinic.id})}" role="button">Pokaż</a>
                    <a class="btn btn-warning btn-sm  px-3 py-0 m-1" style="min-width: 85px"
                       th:href="@{/admin/clinic/{id}/edit (id = ${clinic.id})}" role="button">Edytuj</a>
                    <button type="button" class="btn btn-danger btn-sm  px-3 py-0 m-1" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" th:value="${'/admin/clinic/' + clinic.id + '/delete'}"
                            onclick="showModal(this.value)" style="min-width: 85px">Usuń</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz usunąć?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie, zamknij</button>
                        <a type="button" class="btn btn-danger" id="deleteBtn">Tak, usuwam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="container-fluid bg-light pt-2 pb-2">
    <div class="container-md">
        <p class="text-center">Klinic - dbamy o twoje zdrowie!</p>
    </div>
</footer>
<script th:src="@{/js/modal.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>